.dialogsBlock {
    display: grid;
    grid-template-areas:
        "mb ms"
        "mb ms";
    grid-template-columns: 2fr 10fr;
}
.membersBlock {
    grid-area: mb;
    padding: 20px;
}
.messagesBlock {
    grid-area: ms;
    padding: 20px;
}