.item {
	display: inline-block;
	margin: 30px;
	max-width: 150px;
    text-align: center;
    transition: transform 0.2s ease-out;
}
.item:hover {
	transform: scale(1.1);
}
.friendImg {
	margin: 0 auto;
	width: 80px;
}
